<% if user_signed_in? %>
  
  <%= link_to edit_user_registration_path, class: 'btn btn-warning' do%>
  	<span>
  		<i class="fa fa-user-circle"></i>
  		My Account
  	</span>
  <% end %>
 
<% else %>
  
  <%= link_to new_user_registration_path, class: 'btn btn-primary' do  %>
  	<span>
  		<i class="fa fa-user-o"></i>
  		Sign Up
  	</span>
  <% end %>

  
<% end %>