<% provide(:page_title, 'Buys in Progress') %>
<br />
<br />
<%= render 'layouts/partials/overview_nav' %>
<div class="mx-auto text-center">
    <h1>Buys in Progess:</h1>
</div>
<div class="row">
<%= render @sales %>
</div>