<% provide(:page_title, 'Sells in Progress') %>
<br />
<br />
<%= render 'layouts/partials/overview_nav' %>
<div class="mx-auto text-center">
    <h1>Sells in Progess:</h1>
</div>
<div class="row">
<%= render @sales %>
</div>
