<% provide(:page_title, "Edit #{@post.title}") %>
<h1>Editing Post</h1>

<%= render 'form', post: @post %>

<%= link_to @post, :class => "btn btn-primary" do %>
	<span>
  		<i class="fa fa-eye"></i>
  		View
  	</span>
<% end %> |
<%= link_to posts_path, :class => "btn btn-primary" do %>
	<span>
  		<i class="fa fa-backward"></i>
  		Back
  	</span>
<% end %>
